# Please bear in mind this file DOES NOT perfectly match the current Janus code style

Language: Cpp
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: AcrossEmptyLinesAndComments
#AllowShortBlocksOnASingleLine: Empty
#AllowShortCaseLabelsOnASingleLine: false
#AllowShortEnumsOnASingleLine: false
#AllowShortFunctionsOnASingleLine: None
#AllowShortIfStatementsOnASingleLine: Never
#AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BitFieldColonSpacing: None
BreakBeforeBraces: Attach
ColumnLimit: 0
#ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentGotoLabels: false
IndentPPDirectives: None
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
PointerAlignment: Right
SortIncludes: false
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeParens: Never
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: Always
