cmdline.c
cmdline.h
version.c
docs/html/

janus
janus-cfgconv
janus-pp-rec
mjr2pcap
pcap2mjr
*.so

Makefile
Makefile.in
/build
/configure
/configure~
/autom4te.cache
/aclocal.m4
/m4
/missing
/libtool
/depcomp
/compile
/install-sh
/install-sh~
/ltmain.sh

/config.log
/config.guess
/config.status
/config.sub

*.o
*.a
*.lo
*.la
.libs
pp-cmdline.c
pp-cmdline.h
p2m-cmdline.c
p2m-cmdline.h
/fuzzers/out

npm/dist
npm/src

/conf/janus.cfg.sample
/conf/janus.plugin.duktape.cfg.sample
/conf/janus.plugin.lua.cfg.sample
/conf/janus.plugin.recordplay.cfg.sample
/conf/janus.plugin.streaming.cfg.sample
/conf/janus.transport.http.cfg.sample
/conf/janus.transport.websockets.cfg.sample
/conf/janus.jcfg.sample
/conf/janus.plugin.duktape.jcfg.sample
/conf/janus.plugin.lua.jcfg.sample
/conf/janus.plugin.recordplay.jcfg.sample
/conf/janus.plugin.streaming.jcfg.sample

.deps
.dirstamp

cov-int

# OS X
.DS_Store

# CLion
.idea

.vscode
node_modules
.venv
