cmdline.c
cmdline.h
docs/html/

/janus
/janus-pp-rec
/plugins/*.so

Makefile
Makefile.in
/build
/configure
/autom4te.cache
/aclocal.m4
/m4
/missing
/libtool
/depcomp
/compile
/install-sh
/ltmain.sh

/config.log
/config.guess
/config.status
/config.sub

/*.o
/plugins/*.o
/plugins/*.lo
/plugins/*.la
/plugins/.libs
/postprocessing/*.o

/conf/janus.cfg.sample
/conf/janus.plugin.recordplay.cfg.sample
/conf/janus.plugin.streaming.cfg.sample

.deps
.dirstamp
