audio {
  margin: 8px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  width: 100px;
  margin: 8px;
}

input {
  margin: 8px;
}

.dtmf {
  margin: 8px;
}
