# This configures the GELF event handler. Since this plugin simply
# forwards each event it receives via UDP, you simply need to
# configure (i) which events to subscribe to, and (ii) the address 
# and port of the gelf server which will receive the requests.

general: {
	enabled = false		# By default the module is not enabled
	events = "all"		# Comma separated list of the events mask you're interested
						# in. Valid values are none, sessions, handles, jsep, webrtc,
						# media, plugins, transports, core, external and all. By
						# default we subscribe to everything (all)

	backend = "your.gelfserver.here"
	port = "12201"
}
