# room-<unique room ID>: {
# description = This is my awesome room
# is_private = true|false (whether this room should be in the public list, default=true)
# secret = <optional password needed for manipulating (e.g. destroying) the room>
# pin = <optional password needed for joining the room>
# history = <number of messages to store as a history, and send back to new participants (default=0, no history)>
# post = <optional backend to contact via HTTP post for all incoming messages>
#}

general: {
	#admin_key = "supersecret"		# If set, rooms can be created via API only
									# if this key is provided in the request
	json = "indented"				# Whether the data channel JSON messages should be indented (default),
									# plain (no indentation) or compact (no indentation and no spaces)
	#events = false					# Whether events should be sent to event
									# handlers (default=true)

	# By default, integers are used as a unique ID for rooms. In case you
	# want to use strings instead (e.g., a UUID), set string_ids to true.
	#string_ids = true
}

room-1234: {
	description = "Demo Room"
	# is_private = true
	secret = "adminpwd"
	# pin = "roompwd"
	# history = 10
	# post = "http://example.com/forward/here"
}
