general: {
	# Specify which local IP address to bind to for SIP stack.
	# If not set it will be automatically guessed from the system
	#local_ip = "1.2.3.4"

	# Specify which local IP address to bind for the media stack.
	# If not set it will be automatically set to the value of local_ip
	#local_media_ip = "1.2.3.4"

	# Specify which (public) IP address to advertise in the SDP.
	# If not set, the value above or anything autodetected will be used
	#sdp_ip = "1.2.3.4"

	# Enable local keep-alives to keep the registration open. Keep-alives are
	# sent in the form of OPTIONS requests, at the given interval inseconds.
	# (0 to disable)
	keepalive_interval = 120

	# Indicate if the server is behind NAT. If so, the server will use STUN
	# to guess its own public IP address and use it in the Contact header of
	# outgoing requests
	behind_nat = false

	# User-Agent string to be used
	# user_agent = "Cool WebRTC Gateway"

	# Expiration time for registrations
	register_ttl = 3600

	# Range of ports to use for RTP/RTCP (default=10000-60000)
	rtp_port_range = "20000-40000"

	# Whether events should be sent to event handlers (default=true)
	#events = false
}
