; The only information the SIP Gateway plugin requires is related to the
; IP address to put in the c-lines of the SIP messages SDPs. You can either
; specify it (e.g., c_address = 1.2.3.4) or let the plugin autodetect
; the address to use. If autodetecting, though, you'd better fill in the
; autodetect_ignore list (e.g., to skip interfaces like VMware ones),
; which works the same way as the ice_ignore_list setting in the main
; configuration
[general]
; c_address = 1.2.3.4
autodetect_ignore = vmnet
