; This configures the sample event handler. Since this plugin simply
; forwards each event it receives via HTTP POST, you simply need to
; configure (i) which events to subscribe to, and (ii) the address of
; the web server which will receive the requests.

[general]
enabled = no	; By default the module is not enabled
events = all	; Comma separated list of the events mask you're interested
				; in. Valid values are none, sessions, handles, jsep, webrtc,
				; media, plugins, transports and all. By default we
				; subscribe to everything (all)
backend = http://your.webserver.here/and/a/path
				; Address the plugin will send all events to as HTTP POST
				; requests with an application/json payload
