# This configures the RabbitMQ event handler.

general: {
	enabled = false					# By default the module is not enabled
	events = "all"					# Comma separated list of the events mask you're interested
									# in. Valid values are none, sessions, handles, jsep, webrtc,
									# media, plugins, transports, core, external and all. By
									# default we subscribe to everything (all)
	grouping = true					# Whether events should be sent individually , or if it's ok
									# to group them. The default is 'yes' to limit the number of
									# messages
	json = "indented"				# Whether the JSON messages should be indented (default),
									# plain (no indentation) or compact (no indentation and no spaces)

	host = "localhost"				# The address of the RabbitMQ server
	#port = 5672					# The port of the RabbitMQ server (5672 by default)
	#username = "guest"				# Username to use to authenticate, if needed
	#password = "guest"				# Password to use to authenticate, if needed
	#vhost = "/"					# Virtual host to specify when logging in, if needed
	#exchange = "janus-exchange"
	route_key = "janus-events"		# Name of the queue for event messages
	#exchange_type = "fanout" 		# Rabbitmq exchange_type can be one of the available types: direct, topic, headers and fanout (fanout by defualt).
	#heartbeat = 60 				# Defines the seconds without communication that should pass before considering the TCP connection has unreachable.

	#ssl_enable = false				# Whether ssl support must be enabled
	#ssl_verify_peer = true			# Whether peer verification must be enabled
	#ssl_verify_hostname = true		# Whether hostname verification must be enabled

	# Certificates to use when SSL support is enabled, if needed
	#ssl_cacert = "/path/to/cacert.pem"
	#ssl_cert = "/path/to/cert.pem"
	#ssl_key = "/path/to/key.pem"
}
