# Configuration of the RabbitMQ additional transport for the Janus API.
# This is only useful when you're wrapping Janus requests in your server
# application, and handling the communication with clients your own way.
# At the moment, only a single "application" can be handled at the same
# time, meaning that Janus won't implement multiple queues to handle
# multiple concurrent "application servers" taking advantage of its
# features. Support for this is planned, though (e.g., through some kind
# of negotiation to create queues on the fly). Right now, you can only
# configure the address of the RabbitMQ server to use, and the queues to
# make use of to receive (to-janus) and send (from-janus) messages
# from/to an external application. If you're using the same RabbitMQ
# server instance for multiple Janus instances, make sure you configure
# different queues for each of them (e.g., from-janus-1/to-janus-1 and
# from-janus-2/to-janus-2), or otherwise both the instances will make
# use of the same queues and messages will get lost. The integration
# is disabled by default, so set enabled=true if you want to use it.
general: {
	enabled = false						# Whether the support must be enabled
	#events = true						# Whether to notify event handlers about transport events (default=true)
	json = "indented"					# Whether the JSON messages should be indented (default),
										# plain (no indentation) or compact (no indentation and no spaces)
	host = "localhost"					# The address of the RabbitMQ server
	#port = 5672						# The port of the RabbitMQ server (5672 by default)
	#username = "guest"					# Username to use to authenticate, if needed
	#password = "guest"					# Password to use to authenticate, if needed
	#vhost = "/"						# Virtual host to specify when logging in, if needed
	to_janus = "to-janus"				# Name of the queue for incoming messages
	from_janus = "from-janus"			# Name of the queue for outgoing messages
	#janus_exchange = "janus-exchange"	# Exchange for outgoing messages, using default if not provided
	#janus_exchange_type = "fanout" 		# Rabbitmq exchange_type can be one of the available types: direct, topic, headers and fanout (fanout by defualt).
	#ssl_enabled = false					# Whether ssl support must be enabled
	#ssl_verify_peer = true				# Whether peer verification must be enabled
	#ssl_verify_hostname = true			# Whether hostname verification must be enabled

	# Certificates to use when SSL support is enabled, if needed
	#ssl_cacert = "/path/to/cacert.pem"
	#ssl_cert = "/path/to/cert.pem"
	#ssl_key = "/path/to/key.pem"
}

# If you want to expose the Admin API via RabbitMQ as well, you need to
# specify a different set of queues, as you cannot mix Janus API and
# Admin API messaging. The same RabbitMQ server is supposed to be used.
# Notice that by default the Admin API support via RabbitMQ is disabled.
admin: {
	#admin_enabled = false					# Whether the support must be enabled
	#to_janus_admin = "to-janus-admin"		# Name of the queue for incoming messages
	#from_janus_admin = "from-janus-admin"	# Name of the queue for outgoing messages
}
