# path: where to place recordings in the file system
# events: yes|no, whether events should be sent to event handlers

general:
    path: /home/lminiero/test/yaml/share/janus/recordings
    #events: no
