; [<unique room ID>]
; description = This is my awesome room
; is_private = yes|no (whether this room should be in the public list, default=yes)
; secret = <optional password needed for manipulating (e.g. destroying) the room>
; pin = <optional password needed for joining the room>
; publishers = <max number of concurrent senders> (e.g., 6 for a video
;              conference or 1 for a webinar)
; bitrate = <max video bitrate for senders> (e.g., 128000)
; fir_freq = <send a FIR to publishers every fir_freq seconds> (0=disable)
; audiocodec = opus|isac32|isac16|pcmu|pcma (audio codec to force on publishers, default=opus)
; videocodec = vp8|vp9|h264 (video codec to force on publishers, default=vp8)
; record = true|false (whether this room should be recorded, default=false)
; rec_dir = <folder where recordings should be stored, when enabled>

[general]
;admin_key = supersecret		; If set, rooms can be created via API only
								; if this key is provided in the request

[1234]
description = Demo Room
secret = adminpwd
publishers = 6
bitrate = 128000
fir_freq = 10
;audiocodec = opus
;videocodec = vp8
record = false
;rec_dir = /tmp/janus-videoroom
