; [<unique room ID>]
; description = This is my awesome room
; is_private = yes|no (whether this room should be in the public list, default=yes)
; secret = <optional password needed for manipulating (e.g. destroying) the room>
; pin = <optional password needed for joining the room>
; publishers = <max number of concurrent senders> (e.g., 6 for a video
;              conference or 1 for a webinar)
; bitrate = <max video bitrate for senders> (e.g., 128000)
; fir_freq = <send a FIR to publishers every fir_freq seconds> (0=disable)
; record = true|false (whether this room should be recorded, default=false)
; rec_dir = <folder where recordings should be stored, when enabled>

[1234]
description = Demo Room
secret = adminpwd
publishers = 6
bitrate = 128000
fir_freq = 10
record = false
;rec_dir = /tmp/janus-videoroom
