# Configuration of the MQTT additional transport for the Janus API.

general:
# Whether the support must be enabled
    enable: no
# Whether the JSON messages should be indented (default),
# plain (no indentation) or compact (no indentation and no spaces)
    json: indented
# The connection URL of the MQTT broker
    url: tcp://localhost:1883
# Client identifier
    #client_id: guest
# Username to use to authenticate, if needed
    #username: guest
# Password to use to authenticate, if needed
    #password: guest
# Keep connection for N seconds
    #keep_alive_interval: 20
# Clean session flag
    #cleansession: 0
# Seconds to wait before destroying client
    #disconnect_timeout: 100
# Topic for incoming messages
    subscribe_topic: to-janus
# QoS for incoming messages
    #subscribe_qos: 1
# Topic for outgoing messages
    publish_topic: from-janus
# QoS for outgoing messages
    #publish_qos: 1

admin:
# Whether the support must be enabled
    #admin_enable: no
# Topic for incoming admin messages
    subscribe_topic: to-janus-admin
# QoS for incoming admin messages
    #subscribe_qos: 1
# Topic for outgoing admin messages
    publish_topic: from-janus-admin
# QoS for outgoing admin messages
    #publish_qos: 1
