[general]
; Specify which local IP address to use. If not set it will be automatically
; guessed from the system
;local_ip = 1.2.3.4

; Whether events should be sent to event handlers (default is yes)
;events = no
