# This configures the RabbitMQ event handler.

general:
# By default the module is not enabled
    enabled: no
# Comma separated list of the events mask you're interested
# in. Valid values are none, sessions, handles, jsep, webrtc,
# media, plugins, transports, core and all. By default we
# subscribe to everything (all)
    events: all
# Whether events should be sent individually , or if it's ok
# to group them. The default is 'yes' to limit the number of
# messages
    grouping: yes
# The address of the RabbitMQ server
    host: localhost
# The port of the RabbitMQ server (5672 by default)
    #port: 5672
# Username to use to authenticate, if needed
    #username: guest
# Password to use to authenticate, if needed
    #password: guest
# Virtual host to specify when logging in, if needed
    #vhost: /
# Name of the exchange, if needed
    #exchange: janus-exchange
# Name of the queue for event messages
    route_key: janus-events

# Whether ssl support must be enabled
    #ssl_enable: no
# Whether peer verification must be enabled
    #ssl_verify_peer: yes
# Whether hostname verification must be enabled
    #ssl_verify_hostname: yes
# certificates to use when SSL support is enabled, if needed
    #ssl_cacert: /path/to/cacert.pem
    #ssl_cert: /path/to/cert.pem
    #ssl_key: /path/to/key.pem
